<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head', {title: 'About'}); %>
  </head>
  <body>
    <%- include('../components/header',{page: 'About'}); %>

    <section class="page-header page-header-about">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>About Us</h1>
            <p>Our history over the years</p>
          </div>
        </div>
      </div>
    </section>

    <!-- birth section -->
    <section id="birth" class="section-pad-y bg-cardinal">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section-title section-title--light">
              <h2>The Birth of Shiguma</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 color-pink-salmon">
            <div class="content--narrow">
              <p>
                Shiguma Bar & Resto is a premier place among sushi lovers in the region. The restaurant is held in high regard by its patrons and peers alike. Shiguma Bar & Resto
                was established in 2011 by Rino Deru Rozario, a Japanese chef with several years of professional experience. Rino, from an early age, was fascinated with Japanese
                cuisine. He is naturally gifted with culinary skills and senses. He pursued his passion and enrolled in one of the top culinary schools in Japan.
              </p>
              <p>
                After graduating from the culinary school, Rino worked under the guidance of world-renowned chefs of his time in different countries. His experience allowed him to
                learn from the best and hone his culinary skills further. Having worked for more than seventeen years in leading restaurants around the world, Rino opened Shiguma
                in Philippines after falling in love with the country.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- believe section -->
    <section id="believe" class="section-pad-y">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section-title section-title--light">
              <h2>What We Believe In!</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 color-white">
            <div class="content--narrow">
              <p>
                Rino is a soft-spoken person who understands that improvement is a constant endeavor. He looks for learning opportunities and encourages his team to do the same as
                well. He sets high standards for himself and his team and wants to deliver a memorable sushi experience to our patrons every time. Rino’s passion for food and his
                desire to excel have been the driving force behind the success of Shiguma.
              </p>
              <p>
                Rino believes that learned skills are a gift that must be passed on to others. He, under his watchful eye, has honed the culinary skills and senses of chefs over
                the years. They are now carrying on his legacy alongside him. Our family comprises of over fifty talented people who are dedicated to excellence.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Counter section -->
    <section id="counter" class="section-pad-y bg-white-smoke">
      <div class="container">
        <div class="row inview-element">
          <div class="col-4">
            <div class="counter__box">
              <div class="counter__box-icon">
                <img src="static/vectors/calendar.svg" alt="calender" />
              </div>
              <span class="counting" data-count="10">0</span>
              <h5>Years</h5>
            </div>
          </div>
          <div class="col-4">
            <div class="counter__box">
              <div class="counter__box-icon">
                <img src="static/vectors/employee.svg" alt="calender" />
              </div>
              <span class="counting" data-count="50">0</span>+
              <h5>Employees</h5>
            </div>
          </div>
          <div class="col-4">
            <div class="counter__box">
              <div class="counter__box-icon">
                <img src="static/vectors/cooker.svg" alt="calender" />
              </div>
              <span class="counting" data-count="7770000">0</span>M
              <h5>Orders Served</h5>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonial section -->
    <section id="testimonial" class="section-pad-y">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section-title">
              <h2>What our Customers Say</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-8 mx-auto">
            <div class="testimonial__box">
              <div id="myCarousel" class="carousel slide" data-bs-interval="5000" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item testi-item active">
                    <p>
                      My husband is a picky eater and only prefers food prepared with traditional methods. He nitpicks at almost every restaurant we go to. However, I have never
                      seen him complain at Shiguma, which is a testament to the quality of their food. We visit the restaurant at least once or twice a month.
                    </p>
                    <h5>- Mika Kamiru</h5>
                  </div>
                  <div class="carousel-item testi-item">
                    <p>
                      My friends and I are foodies, and we love trying out new restaurants. We visited Shiguma a few years ago for the first time. We fell in love with the taste
                      and freshness of their sushi preparations. I have been a regular since then and can affirm that we have never tasted better sushi anywhere else except at
                      Shiguma in BGC.
                    </p>
                    <h5>- Michael Light</h5>
                  </div>
                  <div class="carousel-item testi-item">
                    <p>
                      I work at managerial level in an international company, and we often receive clients and visitors from Japan. We take quite a few of them to Shiguma, and
                      every one of our guests has been impressed by the authenticity of their sushi dishes.
                    </p>
                    <h5>- Christian Wolf</h5>
                  </div>
                  <div class="carousel-item testi-item">
                    <p>
                      I have been visiting Shiguma since its early days. I love the authentic taste of the sushi dishes and the ambiance at the restaurant. While my wife and I
                      prefer the traditional sushi dishes, our fast-food savvy kids love the modern sushi items on their menu, which are healthier, nutritious, and tasty!
                    </p>
                    <h5>- Chosen Uno</h5>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                  <i class="fas fa-chevron-left"></i>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                  <i class="fas fa-chevron-right"></i>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- cta -->
    <%- include('../components/cta'); %>

    <!-- footer -->
    <%- include('../components/footer'); %>

    <!-- scripts -->
    <%- include('../components/scripts'); %>
  </body>
</html>
