<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head', {title: 'Home'}); %>
  </head>
  <body>
    <%- include('../components/header',{page: 'Home'}); %>

    <!-- Hero section -->
    <section id="hero">
      <div class="hero__video-container">
        <video class="hero__video-content" autoplay playsinline muted loop>
          <source src="static/videos/sushi.mp4" type="video/mp4" />
        </video>
        <div class="hero__intro-container">
          <div class="hero__intro-content">
            <div class="hero__intro-inner">
              <h1>Shiguma Bar & Resto</h1>
              <p>Taste of Authentic Japanese Cuisine</p>
              <a class="btn btn-lg btn-cardinal" href="/contact">Reserve Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="mouse"></div>
    </section>

    <!-- Specialty section -->
    <section id="specialty" class="section-pad-y bg-cardinal">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section-title section-title--light">
              <h2>Our Specialty</h2>
              <p>Uniquely crafted recipes</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="specialty__box">
              <img class="img-fluid" src="static/images/speciality/specialty1.jpg" alt="maki rolls" />
              <div class="specialty__title">
                <h3>Maki Rolls</h3>
                <p>
                  <a href="/menu">view menu</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="specialty__box">
              <img class="img-fluid" src="static/images/speciality/specialty2.jpg" alt="maki rolls" />
              <div class="specialty__title">
                <h3>Gunkan</h3>
                <p>
                  <a href="/menu">view menu</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="specialty__box">
              <img class="img-fluid" src="static/images/speciality/specialty3.jpg" alt="maki rolls" />
              <div class="specialty__title">
                <h3>Sashimi</h3>
                <p>
                  <a href="/menu">view menu</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="specialty__box">
              <img class="img-fluid" src="static/images/speciality/specialty4.jpg" alt="maki rolls" />
              <div class="specialty__title">
                <h3>Nigiri</h3>
                <p>
                  <a href="/menu">view menu</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- History section -->
    <section id="history" class="section-pad-y bg-white-smoke">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section-title section-title--dark">
              <h2>Good Old Days</h2>
              <p>The roots of our success</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="content--narrow">
              <p>
                Founded in 2011, Shiguma Bar & Resto has been serving its patrons with appetizing Japanese dishes. From our humble beginnings as an intimate establishment to our
                modern restaurant, we have certainly come a long way. All this has been possible only because of the love and encouragement of our patrons, some of whom have been
                visiting us since the beginning.
              </p>
              <p>
                The thing that hasn’t changed over the years is our commitment to quality. Our food and ambiance allow you to experience authentic Japanese dishes exactly the way
                they are meant to be. Founded and operated by a professional chef, Rino Deru Rozario, Shiguma Bar & Resto has become a renowned name in the region due to its
                commitment to quality.
              </p>
              <a class="btn btn-outline-cardinal" href="/about">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Values section -->
    <section id="values" class="section-pad-y">
      <div class="container">
        <div class="row">
          <div class="col-10 mx-auto">
            <div class="values__box">
              <div class="values__box-text">
                <h3>For People Who Love Sushi</h3>
                <p>Shiguma Bar & Resto is an independently owned restaurant operated by people who want to share their love for sushi and Japanese cuisine with you.</p>
              </div>

              <div class="values__box-img">
                <img src="static/images/character/character4.jpg" alt="For People Who Love Sushi" class="img-fluid" />
                <div class="values__box-img-outline"></div>
              </div>
            </div>
          </div>
          <div class="col-10 mx-auto">
            <div class="values__box values__box--reverse">
              <div class="values__box-text">
                <h3>Classic Taste With Modern Flavor</h3>
                <p>
                  We love experimenting with our dishes for a modern take. Try our sushi burger or choose from a rich assortment of rolls that blend classic taste with modern
                  flavor. Or stick to the traditional menu if you are in the mood for your favorite sushi.
                </p>
              </div>

              <div class="values__box-img">
                <img src="static/images/character/character2.jpg" alt="For People Who Love Sushi" class="img-fluid" />
                <div class="values__box-img-outline"></div>
              </div>
            </div>
          </div>
          <div class="col-10 mx-auto">
            <div class="values__box">
              <div class="values__box-text">
                <h3>Setting A High Bar For Quality Cuisine</h3>
                <p>
                  Shiguma Bar & Resto takes pride in setting a high bar for quality cuisine. Each of our ingredients, be it rice or fish, is selected after careful deliberation for
                  ensuring authentic taste and freshness.
                </p>
              </div>

              <div class="values__box-img">
                <img src="static/images/character/character1.jpg" alt="For People Who Love Sushi" class="img-fluid" />
                <div class="values__box-img-outline"></div>
              </div>
            </div>
          </div>

          <div class="col-10 mx-auto">
            <div class="values__box values__box--reverse">
              <div class="values__box-text">
                <h3>Natural And Healthy</h3>
                <p>All food prepared by us is free from any additives or preservatives. You enjoy natural and healthy food that tingles your taste buds.</p>
              </div>

              <div class="values__box-img">
                <img src="static/images/character/character4.jpg" alt="For People Who Love Sushi" class="img-fluid" />
                <div class="values__box-img-outline"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- cta -->
    <%- include('../components/cta'); %>

    <!-- footer -->
    <%- include('../components/footer'); %>

    <!-- scripts -->
    <%- include('../components/scripts'); %>
  </body>
</html>
