<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head', {title: 'Menu - Shiguma Bar and Resto'}); %>
  </head>
  <body>
    <%- include('../components/header',{page: 'Menu'}); %>

    <section class="page-header page-header-about">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Our Menu</h1>
            <p>Handcrafted by the masters</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Menu section -->
    <section id="menu" class="section-pad-y">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section-title">
              <h2>Rolls & Sushi</h2>
            </div>
            <div class="row mb-4">
              <div class="col-lg-5 mx-auto">
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">The green dragon in tobiko</h4>
                    <h6 class="menu-price">₱345</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Crab meat, avocado, cucumber, shrimp, mayo.</p>
                    <span class="menu-feature">Recommended</span>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Philadelphia with eel</h4>
                    <h6 class="menu-price">₱326</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Philadelphia cheese, nori, rice, eel.</p>
                    <span class="menu-feature">New</span>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">California in sesame</h4>
                    <h6 class="menu-price">₱332</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Crab sticks, avocado, cucumber, mayonnaise, sesame.</p>
                    <span class="menu-feature">New</span>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Philadelphia in sesame</h4>
                    <h6 class="menu-price">₱329</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Philadelphia cheese, nori, rice, salmon, sesame.</p>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Signature Tuna</h4>
                    <h6 class="menu-price">₱333</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Tuna, celeriac, green apple, rice.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 mx-auto">
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Paradise Special</h4>
                    <h6 class="menu-price">₱327</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Choice of tuna, yellowtail, salmon, or combo.</p>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Fire Roll</h4>
                    <h6 class="menu-price">₱322</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Tuna, sesame, spicy sauce, chives, prawn tempura, rice.</p>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Rainbow Roll</h4>
                    <h6 class="menu-price">₱336</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Avocado, tuna, sesame, salmon, chili, chives, rice.</p>
                    <span class="menu-feature">New</span>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Beef Roll</h4>
                    <h6 class="menu-price">₱330</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Beef, mayonnaise, chives, lime, avocado, coriander.</p>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Rock n Roll</h4>
                    <h6 class="menu-price">₱325</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Glazed, salmon, sesame, teriyaki sauce, crisps, chili, chives.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="section-title">
              <h2>Sashimi & Bowls</h2>
            </div>
            <div class="row mb-4">
              <div class="col-lg-5 mx-auto">
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Salmon poke bowl</h4>
                    <h6 class="menu-price">₱336</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Avocado, rice, salmon, cabbage, salad.</p>
                    <span class="menu-feature">Recommended</span>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Sashimi with salmon</h4>
                    <h6 class="menu-price">₱326</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Chives, avocado, salmon, tuna, chili.</p>
                    <span class="menu-feature">New</span>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Sashimi donburi</h4>
                    <h6 class="menu-price">₱341</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Tuna, salmon, lettuce, sesame oil, masago, nori, sauce.</p>
                    <span class="menu-feature">New</span>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Yaki Udon</h4>
                    <h6 class="menu-price">₱329</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Udon, vegetables, cheese, tuna, sesame, spicy souse.</p>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Miso soup with salmon</h4>
                    <h6 class="menu-price">₱333</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Salmon, tofu, mushrooms, napa cabbage.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 mx-auto">
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Black Rice with Squid</h4>
                    <h6 class="menu-price">₱340</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Rice, squid ink, squid meat, vegetables</p>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Tsukune</h4>
                    <h6 class="menu-price">₱322</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Minced chicken, egg, vegetables, spices.</p>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Tsukimi Udon</h4>
                    <h6 class="menu-price">₱336</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Soba counterpart, raw egg on top of the udon noodles.</p>
                    <span class="menu-feature">New</span>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Tonkatsu</h4>
                    <h6 class="menu-price">₱330</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Cabbage, rice, miso soup, pickles.</p>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Kitsune Soba</h4>
                    <h6 class="menu-price">₱327</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Thin sheets of fried tofu, on top of the soba noodles.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="section-title">
              <h2>Drinks & Tea</h2>
            </div>
            <div class="row">
              <div class="col-lg-5 mx-auto">
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Black Sugar Shochu</h4>
                    <h6 class="menu-price">₱321</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Alcoholic beverage distilled from black sugar.</p>
                    <span class="menu-feature">Recommended</span>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Awamori</h4>
                    <h6 class="menu-price">₱325</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Alcoholic beverage unique to Okinawa.</p>
                    <span class="menu-feature">New</span>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Kirin Beer</h4>
                    <h6 class="menu-price">₱327</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">National bear, mainly light lagers.</p>
                    <span class="menu-feature">New</span>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Sake</h4>
                    <h6 class="menu-price">₱326</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Alcoholic beverage of Japan is made from fermented rice.</p>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Rice Shochu</h4>
                    <h6 class="menu-price">₱323</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Japanese alcoholic beverage distilled from rice.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 mx-auto">
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Calpis</h4>
                    <h6 class="menu-price">₱317</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Light, milky, and slightly flavor, similar to vanilla yogurt.</p>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Amazake</h4>
                    <h6 class="menu-price">₱329</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Sweet, low- or non-alcohol drink from fermented rice.</p>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Mugi-cha</h4>
                    <h6 class="menu-price">₱336</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Roasted barley tea. Sserved chilled during summer.</p>
                    <span class="menu-feature">New</span>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Matcha Cream Tea</h4>
                    <h6 class="menu-price">₱380</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Matcha green tea and soy milk cream mix.</p>
                  </div>
                </div>
                <div class="menu-box mb-3">
                  <div class="menu-upper d-flex justify-content-between">
                    <h4 class="menu-title">Kuzuyu</h4>
                    <h6 class="menu-price">₱327</h6>
                  </div>
                  <div class="menu-lower d-flex justify-content-between">
                    <p class="menu-desc">Sweet beverage produced by adding kudzu to hot water.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- cta -->
    <%- include('../components/cta'); %>

    <!-- footer -->
    <%- include('../components/footer'); %>

    <!-- scripts -->
    <%- include('../components/scripts'); %>
  </body>
</html>
